.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.w-embed-youtubevideo {
  width: 100%;
  position: relative;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
  background-size: cover;
  background-position: 50% 50%;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

.nav-dropdown-link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link:focus-visible {
  border-radius: 5px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.nav-dropdown-link[data-wf-focus-visible] {
  border-radius: 5px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.navbar-logo-left {
  background-color: #000;
}

.navbar-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: transparent;
}

.text-block {
  color: #fff;
}

.nav-dropdown {
  margin-right: 5px;
  margin-left: 5px;
  color: #fff;
}

.nav-link {
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px 10px;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  text-decoration: none;
}

.nav-link:hover {
  color: hsla(0, 0%, 100%, 0.8);
}

.nav-link:focus-visible {
  border-style: solid;
  border-width: 1px;
  border-color: #fcab10;
  border-radius: 4px;
  outline-color: #fcab10;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #fff;
}

.nav-link[data-wf-focus-visible] {
  border-style: solid;
  border-width: 1px;
  border-color: #fcab10;
  border-radius: 4px;
  outline-color: #fcab10;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.container.cont-width {
  max-width: 927px;
}

.pri-btn {
  position: static;
  left: auto;
  top: 220px;
  right: auto;
  bottom: auto;
  z-index: 3;
  background-color: #d60101;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.6);
  opacity: 1;
}

.pri-btn:hover {
  background-color: #fcab10;
  color: #000;
}

.navbar-logo-left-container {
  z-index: 5;
  width: 1030px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 15px 20px;
  background-color: transparent;
}

.navbar-logo-left-container.shadow-three {
  width: 100%;
  max-width: 1140px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-dropdown-toggle {
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.nav-dropdown-toggle:hover {
  color: rgba(26, 27, 31, 0.75);
}

.nav-dropdown-toggle:focus-visible {
  border-radius: 5px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.nav-dropdown-toggle[data-wf-focus-visible] {
  border-radius: 5px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.nav-dropdown-list {
  border-radius: 12px;
  background-color: #fff;
}

.nav-dropdown-list.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-menu-two {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: transparent;
}

.button-primary {
  padding: 12px 25px;
  background-color: #1a1b1f;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button-primary:hover {
  background-color: #32343a;
  color: #fff;
}

.button-primary:active {
  background-color: #43464d;
}

.nav-dropdown-icon {
  margin-right: 10px;
  color: #fff;
}

.nav-link-accent {
  margin-right: 20px;
  margin-left: 5px;
  padding: 5px 10px;
  color: #1a1b1f;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.25px;
  text-decoration: none;
}

.nav-link-accent:hover {
  color: rgba(26, 27, 31, 0.75);
}

.image-4 {
  width: 100%;
  max-width: none;
}

.image-6 {
  width: 100%;
  max-width: none;
}

.hero-section {
  position: relative;
  left: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.slider {
  height: 500px;
}

.slide-2 {
  width: 100%;
}

.hero-heading {
  position: static;
  top: 100px;
  z-index: 3;
  color: #fff;
  font-size: 48px;
  text-align: center;
}

.image-3 {
  width: 100%;
  max-width: none;
  color: #fff;
}

.div-block {
  position: absolute;
  top: 140px;
  right: auto;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.slide-4 {
  width: 100%;
}

.image-5 {
  width: 100%;
  max-width: none;
}

.slide-3 {
  width: 100%;
}

.slide {
  width: 100%;
}

.about-us-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  margin-bottom: 140px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
}

.heading-2-white-txt {
  color: #fff;
  font-size: 38px;
  text-align: center;
}

.paragraph {
  margin-top: 10px;
  background-color: transparent;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.be-believe-container {
  position: relative;
}

.text-span-2 {
  color: #d60101;
}

.subheading {
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.card-btn {
  position: absolute;
  left: auto;
  top: auto;
  right: auto;
  bottom: 10%;
  z-index: 3;
  background-color: #d60101;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.6);
  opacity: 0;
}

.card-btn:hover {
  background-color: #fcab10;
  color: #000;
}

.courses-cards-container {
  max-width: 940px;
  margin-top: 30px;
}

.grid {
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.heading-2 {
  color: #fff;
  font-size: 38px;
  text-align: center;
}

.image {
  position: absolute;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  width: 300px;
  height: 300px;
}

.courses {
  margin-bottom: 40px;
  background-color: transparent;
}

.heading {
  position: absolute;
  bottom: 80px;
  opacity: 0;
  color: #000;
  font-size: 34px;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #d70101;
}

.image-11 {
  width: 134%;
  height: auto;
  max-width: none;
}

.image-8 {
  width: 104%;
  height: 120%;
  max-height: 120%;
  max-width: none;
  -o-object-fit: fill;
  object-fit: fill;
}

.image-10 {
  width: 134%;
  height: auto;
  max-width: none;
  -o-object-fit: contain;
  object-fit: contain;
}

.lightbox-link-2 {
  width: 100%;
}

.image-12 {
  width: 168%;
  max-width: none;
}

.gallery-div {
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-height: 120%;
}

.image-16 {
  width: 100%;
  height: 90%;
  max-height: none;
  max-width: none;
}

.grid-2 {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto minmax(auto, 1fr) auto;
  grid-template-rows: auto minmax(auto, 1fr) auto;
}

.grid-4 {
  margin-bottom: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.image-15 {
  width: 110%;
  max-height: 80%;
  max-width: none;
}

.gallery {
  margin-top: 220px;
  background-color: transparent;
}

.contact-us {
  margin-top: 60px;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #d60101;
  color: #fff;
}

.call-btn {
  position: static;
  left: auto;
  top: 220px;
  right: auto;
  bottom: auto;
  z-index: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 9px 13px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: #000;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.6);
  opacity: 1;
  font-size: 21px;
  font-weight: 600;
  text-decoration: none;
}

.call-btn:hover {
  background-color: #000;
  color: #000;
}

.image-14 {
  margin-right: 20px;
}

.footer-divider {
  width: 100%;
  height: 1px;
  margin-top: 70px;
  margin-bottom: 15px;
  background-color: #e4ebf3;
}

.footer-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer-content {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 70px;
  grid-row-gap: 40px;
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
  -ms-grid-rows: 57px auto;
  grid-template-rows: 57px auto;
}

.footer-link {
  margin-top: 12px;
  margin-bottom: 6px;
  color: #c0bfbf;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.footer-link:hover {
  color: #fff;
}

.link {
  color: red;
}

.title-small {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer-dark {
  position: relative;
  margin-top: 60px;
  padding: 50px 30px 15px;
  border-bottom: 1px solid #e4ebf3;
  background-color: #000;
}

.footer-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  color: #fff;
}

.footer-brand {
  margin-right: 40px;
}

.footer-copyright-center {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.body {
  background-color: #000;
}

.body-2 {
  background-color: #000;
}

.musicals {
  margin-bottom: 40px;
  background-color: transparent;
}

.musical-card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #d70101;
}

.text-span-3 {
  color: #d60101;
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }

  .pri-btn {
    top: 280px;
  }

  .navbar-logo-left-container.shadow-three {
    max-width: 1200px;
  }

  .mask {
    left: auto;
    right: auto;
    width: 100%;
    max-width: none;
  }

  .slider {
    width: 100%;
    height: 600px;
  }

  .hero-heading {
    top: 140px;
  }

  .image-3 {
    width: 100%;
  }

  .slide {
    height: auto;
    max-height: none;
  }

  .about-us-section {
    height: 300px;
    margin-top: 220px;
    margin-bottom: 220px;
  }

  .our-goal-container.cont-width {
    max-width: 1200px;
  }

  .courses-cards-container.cont-width {
    max-width: 1200px;
  }

  .grid {
    grid-template-areas: ". Area";
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .courses {
    margin-top: 220px;
    margin-bottom: 220px;
  }

  .title-container {
    max-width: 1200px;
  }

  .image-16 {
    width: auto;
    max-width: 100%;
  }

  .gallery {
    margin-top: 220px;
    margin-bottom: 100px;
  }

  .contact-us {
    margin-bottom: 140px;
  }

  .contact-us-con {
    max-width: 1200px;
  }

  .call-btn {
    top: 280px;
  }

  .link {
    border: 1px none #000;
    text-decoration: none;
  }

  .footer-copyright-center {
    color: #fff;
  }

  .musicals {
    margin-top: 220px;
    margin-bottom: 220px;
  }
}

@media screen and (min-width: 1440px) {
  .image-4 {
    width: 100%;
    max-width: none;
  }

  .mask {
    width: 100%;
    height: 100%;
    max-height: none;
    max-width: none;
  }

  .slider {
    overflow: hidden;
    width: 100%;
    height: 600px;
  }

  .slide-2 {
    width: 100%;
  }

  .image-3 {
    overflow: hidden;
    width: 100%;
    height: auto;
    max-height: none;
    max-width: none;
  }

  .slide {
    width: 100%;
    max-height: 100%;
    max-width: 100%;
  }

  .paragraph {
    position: relative;
    left: auto;
    top: 0%;
    right: auto;
    bottom: 0%;
  }

  .call-btn {
    position: relative;
    top: auto;
  }
}

@media screen and (max-width: 991px) {
  .nav-menu-wrapper {
    background-color: transparent;
  }

  .nav-link {
    padding-right: 5px;
    padding-left: 5px;
  }

  .menu-button {
    padding: 12px;
    color: #000;
  }

  .menu-button.w--open {
    background-color: #a6b1bf;
    color: #fff;
  }

  .container {
    max-width: 728px;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: absolute;
  }

  .nav-menu-two {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
    padding: 20px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 0 8px 50px 0 rgba(0, 0, 0, 0.05);
    color: #000;
  }

  .icon {
    background-color: transparent;
    color: #fff;
  }

  .image-3 {
    height: 100%;
  }

  .courses-cards-container.cont-width {
    height: auto;
    padding-right: 14px;
    padding-left: 14px;
  }

  .grid {
    max-height: 300px;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }

  .courses {
    height: 1030px;
    max-height: none;
    margin-bottom: 0px;
  }

  .title-container {
    max-width: 990px;
  }

  .card {
    height: 300px;
  }

  .grid-2 {
    margin-right: 20px;
    margin-left: 20px;
  }

  .grid-4 {
    margin-left: 20px;
  }

  .gallery {
    margin-top: 420px;
  }

  .contact-us {
    margin-top: 800px;
  }

  .footer-content {
    grid-column-gap: 60px;
  }

  .musicals {
    height: 1030px;
    max-height: none;
    margin-bottom: 0px;
  }

  .musical-card {
    height: 300px;
  }
}

@media screen and (max-width: 767px) {
  .mobile-margin-top-10 {
    margin-top: 10px;
  }

  .navbar-logo-left {
    background-color: #fff;
  }

  .navbar-brand {
    padding-left: 0px;
  }

  .nav-dropdown {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .nav-link {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .menu-button {
    color: #000;
  }

  .navbar-logo-left-container {
    max-width: 100%;
  }

  .navbar-logo-left-container.shadow-three {
    background-color: #000;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px 0 rgba(0, 0, 0, 0.05);
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .nav-menu-two {
    padding-bottom: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 20px;
    color: #000;
  }

  .nav-link-accent {
    display: inline-block;
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .image-4 {
    width: auto;
    height: 100%;
  }

  .image-3 {
    width: auto;
  }

  .image-5 {
    width: auto;
    height: 100%;
  }

  .image {
    width: 200px;
    height: 200px;
  }

  .courses {
    height: 800px;
  }

  .card {
    height: 220px;
  }

  .gallery {
    margin-top: 400px;
  }

  .footer-divider {
    margin-top: 60px;
  }

  .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer-content {
    margin-top: 40px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .footer-link:hover {
    color: rgba(26, 27, 31, 0.75);
  }

  .footer-dark {
    padding-right: 15px;
    padding-left: 15px;
  }

  .footer-block {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .musicals {
    height: 800px;
  }

  .musical-card {
    height: 220px;
  }
}

@media screen and (max-width: 479px) {
  .nav-menu-wrapper {
    background-color: #000;
  }

  .nav-link {
    color: #000;
  }

  .menu-button {
    background-color: #000;
    color: #fff;
  }

  .container {
    max-width: none;
  }

  .nav-menu-two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #000;
  }

  .icon {
    color: #fff;
  }

  .image-4 {
    width: auto;
    height: 100%;
  }

  .image-6 {
    width: auto;
    height: auto;
  }

  .mask {
    overflow: hidden;
  }

  .slider {
    overflow: hidden;
    height: 700px;
    max-height: none;
    min-height: 0px;
    -o-object-fit: fill;
    object-fit: fill;
    -o-object-position: 50% 0%;
    object-position: 50% 0%;
  }

  .slide-2 {
    width: auto;
  }

  .hero-heading {
    margin-right: 14px;
    margin-left: 14px;
  }

  .image-3 {
    width: auto;
    height: 100%;
    max-height: none;
    max-width: none;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .slide-4 {
    width: auto;
  }

  .image-5 {
    width: auto;
    height: 100%;
  }

  .slide-3 {
    width: auto;
    height: auto;
  }

  .slide {
    overflow: hidden;
    width: auto;
  }

  .about-us-section {
    height: 400px;
    margin-top: 220px;
    margin-bottom: 220px;
  }

  .paragraph {
    margin-bottom: 0px;
    padding: 14px;
    font-size: 15px;
  }

  .subheading {
    padding: 14px;
  }

  .courses-cards-container.cont-width {
    max-height: 100%;
  }

  .grid {
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    -ms-grid-rows: auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
  }

  .image {
    width: 260px;
    height: 260px;
    min-height: auto;
    min-width: auto;
  }

  .courses {
    height: auto;
    max-height: none;
  }

  .heading {
    font-size: 24px;
  }

  .card {
    height: 260px;
  }

  .image-8 {
    height: 100%;
  }

  .lightbox-link-2 {
    height: 100%;
  }

  .gallery-div {
    height: 100%;
    max-height: 120%;
  }

  .grid-2 {
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .grid-4 {
    margin-right: 20px;
  }

  .image-15 {
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 110%;
  }

  .gallery {
    margin-top: 2000px;
  }

  .contact-us {
    margin-top: 2400px;
  }

  .div-block-2 {
    margin-top: 140px;
    margin-right: 0px;
    margin-left: 0px;
  }

  .call-btn {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer-link {
    text-align: center;
  }

  .footer-link:hover {
    color: #fff;
  }

  .musicals {
    height: auto;
    max-height: none;
  }

  .musical-card {
    height: 260px;
  }
}

#w-node-f54c4fa7-288b-b83f-8b4d-fd948dfa1c75-e2f23b2d {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-f54c4fa7-288b-b83f-8b4d-fd948dfa1c7b-e2f23b2d {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-f54c4fa7-288b-b83f-8b4d-fd948dfa1c81-e2f23b2d {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-f54c4fa7-288b-b83f-8b4d-fd948dfa1c87-e2f23b2d {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-f54c4fa7-288b-b83f-8b4d-fd948dfa1c8d-e2f23b2d {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-f54c4fa7-288b-b83f-8b4d-fd948dfa1c93-e2f23b2d {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-f54c4fa7-288b-b83f-8b4d-fd948dfa1c99-e2f23b2d {
  -ms-grid-column: span 3;
  grid-column-start: span 3;
  -ms-grid-column-span: 3;
  grid-column-end: span 3;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-f54c4fa7-288b-b83f-8b4d-fd948dfa1c9f-e2f23b2d {
  -ms-grid-column: span 3;
  grid-column-start: span 3;
  -ms-grid-column-span: 3;
  grid-column-end: span 3;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c402e0c0-49c1-2b63-054f-a0bc3b04a287-e2f23b2d {
  -ms-grid-column: span 3;
  grid-column-start: span 3;
  -ms-grid-column-span: 3;
  grid-column-end: span 3;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c402e0c0-49c1-2b63-054f-a0bc3b04a288-e2f23b2d {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c402e0c0-49c1-2b63-054f-a0bc3b04a289-e2f23b2d {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c402e0c0-49c1-2b63-054f-a0bc3b04a28a-e2f23b2d {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c402e0c0-49c1-2b63-054f-a0bc3b04a28c-e2f23b2d {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
}

#w-node-c402e0c0-49c1-2b63-054f-a0bc3b04a28f-e2f23b2d {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c402e0c0-49c1-2b63-054f-a0bc3b04a291-e2f23b2d {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c402e0c0-49c1-2b63-054f-a0bc3b04a292-e2f23b2d {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c402e0c0-49c1-2b63-054f-a0bc3b04a295-e2f23b2d {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c402e0c0-49c1-2b63-054f-a0bc3b04a297-e2f23b2d {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c402e0c0-49c1-2b63-054f-a0bc3b04a298-e2f23b2d {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c402e0c0-49c1-2b63-054f-a0bc3b04a29a-e2f23b2d {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c402e0c0-49c1-2b63-054f-a0bc3b04a29b-e2f23b2d {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c402e0c0-49c1-2b63-054f-a0bc3b04a29d-e2f23b2d {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_18fb793a-aca4-5e35-1819-2d1566c2b3da-e2f23b2d {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
}

#w-node-_18fb793a-aca4-5e35-1819-2d1566c2b3ed-e2f23b2d {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_18fb793a-aca4-5e35-1819-2d1566c2b3f6-e2f23b2d {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d4d55a0c-cab8-fb22-ba94-709187028257-09df41aa {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d4d55a0c-cab8-fb22-ba94-709187028263-09df41aa {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d4d55a0c-cab8-fb22-ba94-709187028269-09df41aa {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d4d55a0c-cab8-fb22-ba94-709187028275-09df41aa {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d4d55a0c-cab8-fb22-ba94-70918702827b-09df41aa {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d4d55a0c-cab8-fb22-ba94-709187028281-09df41aa {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_665b866c-6a6e-2099-ef4e-d01598fa6402-09df41aa {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b0d87f1d-b148-250a-b4e9-1d308741c26d-09df41aa {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_6ae30ff5-b21b-28d6-0ac0-788a5d94dde4-09df41aa {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1db05c3b-0b63-7f2b-3463-c5d1c9ba68c3-09df41aa {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
}

#w-node-_1db05c3b-0b63-7f2b-3463-c5d1c9ba68d6-09df41aa {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1db05c3b-0b63-7f2b-3463-c5d1c9ba68df-09df41aa {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@media screen and (min-width: 1280px) {
  #w-node-f54c4fa7-288b-b83f-8b4d-fd948dfa1c99-e2f23b2d {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-f54c4fa7-288b-b83f-8b4d-fd948dfa1c9f-e2f23b2d {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-d4d55a0c-cab8-fb22-ba94-70918702827b-09df41aa {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-d4d55a0c-cab8-fb22-ba94-709187028281-09df41aa {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_665b866c-6a6e-2099-ef4e-d01598fa6402-09df41aa {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-b0d87f1d-b148-250a-b4e9-1d308741c26d-09df41aa {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_6ae30ff5-b21b-28d6-0ac0-788a5d94dde4-09df41aa {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

@media screen and (max-width: 991px) {
  #w-node-f54c4fa7-288b-b83f-8b4d-fd948dfa1c99-e2f23b2d {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-f54c4fa7-288b-b83f-8b4d-fd948dfa1c9f-e2f23b2d {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-d4d55a0c-cab8-fb22-ba94-70918702827b-09df41aa {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-d4d55a0c-cab8-fb22-ba94-709187028281-09df41aa {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_665b866c-6a6e-2099-ef4e-d01598fa6402-09df41aa {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-b0d87f1d-b148-250a-b4e9-1d308741c26d-09df41aa {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_6ae30ff5-b21b-28d6-0ac0-788a5d94dde4-09df41aa {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

@media screen and (max-width: 767px) {
  #w-node-f54c4fa7-288b-b83f-8b4d-fd948dfa1c75-e2f23b2d {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-f54c4fa7-288b-b83f-8b4d-fd948dfa1c7b-e2f23b2d {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-f54c4fa7-288b-b83f-8b4d-fd948dfa1c81-e2f23b2d {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-f54c4fa7-288b-b83f-8b4d-fd948dfa1c87-e2f23b2d {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-f54c4fa7-288b-b83f-8b4d-fd948dfa1c8d-e2f23b2d {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-f54c4fa7-288b-b83f-8b4d-fd948dfa1c93-e2f23b2d {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-f54c4fa7-288b-b83f-8b4d-fd948dfa1c99-e2f23b2d {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-f54c4fa7-288b-b83f-8b4d-fd948dfa1c9f-e2f23b2d {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-d4d55a0c-cab8-fb22-ba94-709187028257-09df41aa {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-d4d55a0c-cab8-fb22-ba94-709187028263-09df41aa {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-d4d55a0c-cab8-fb22-ba94-709187028269-09df41aa {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-d4d55a0c-cab8-fb22-ba94-709187028275-09df41aa {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-d4d55a0c-cab8-fb22-ba94-70918702827b-09df41aa {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-d4d55a0c-cab8-fb22-ba94-709187028281-09df41aa {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_665b866c-6a6e-2099-ef4e-d01598fa6402-09df41aa {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-b0d87f1d-b148-250a-b4e9-1d308741c26d-09df41aa {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_6ae30ff5-b21b-28d6-0ac0-788a5d94dde4-09df41aa {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

@media screen and (max-width: 479px) {
  #w-node-f54c4fa7-288b-b83f-8b4d-fd948dfa1c75-e2f23b2d {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-f54c4fa7-288b-b83f-8b4d-fd948dfa1c7b-e2f23b2d {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-f54c4fa7-288b-b83f-8b4d-fd948dfa1c81-e2f23b2d {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-f54c4fa7-288b-b83f-8b4d-fd948dfa1c87-e2f23b2d {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-f54c4fa7-288b-b83f-8b4d-fd948dfa1c8d-e2f23b2d {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-f54c4fa7-288b-b83f-8b4d-fd948dfa1c93-e2f23b2d {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-f54c4fa7-288b-b83f-8b4d-fd948dfa1c99-e2f23b2d {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-f54c4fa7-288b-b83f-8b4d-fd948dfa1c9f-e2f23b2d {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-c402e0c0-49c1-2b63-054f-a0bc3b04a28f-e2f23b2d {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-d4d55a0c-cab8-fb22-ba94-709187028257-09df41aa {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-d4d55a0c-cab8-fb22-ba94-709187028263-09df41aa {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-d4d55a0c-cab8-fb22-ba94-709187028269-09df41aa {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-d4d55a0c-cab8-fb22-ba94-709187028275-09df41aa {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-d4d55a0c-cab8-fb22-ba94-70918702827b-09df41aa {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-d4d55a0c-cab8-fb22-ba94-709187028281-09df41aa {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_665b866c-6a6e-2099-ef4e-d01598fa6402-09df41aa {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-b0d87f1d-b148-250a-b4e9-1d308741c26d-09df41aa {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_6ae30ff5-b21b-28d6-0ac0-788a5d94dde4-09df41aa {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}